:root{
    --primary: #4CAF4F;
    --bgcolor:#F5F7FA;
    --textcolor:#717171;
}
.greenbtn{
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: white !important;
}

.greenbtn:hover{
  background-color: var(--bgcolor) !important;
  color: black !important;
}
.greenbtn:hover i {
  color: black !important;
}
.green{
    color: var(--primary);
}
.bg{
    background-color: var(--bgcolor);
}
.text{
    color: var(--textcolor);
}
.bgcolor{
    background-color: #263238;
    color: white;
}
.bgcolor a{
    color: white;
}
.bground{
    background-color: rgb(60, 70, 76);
    padding: 7px;
    border-radius: 50%;
}
